body {
    font-family: Garamond;
    padding: 0%;
    width: 100%;
    height: 100%;
    margin: 0%;
}
#banner {
    background-color: SaddleBrown;
    color: white;
    text-align: center;
    height: 50px;
}
#lewy {
    background-color: Tan;
    height: 500px;
    width: 40%;
    float: left;
}
#prawygorny {
    background-color: Tan;
    height: 250px;
    width: 60%;
    float: right;
}
#prawydolny {
    background-color: Tan;
    height: 250px;
    width: 60%;
    float: right;
}
footer {
    background-color: saddlebrown;
    color: white;
}
form {
    background-color: saddlebrown;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
}
input {
    margin: 5px;
}
p::before {
    content: "STATUS:";
}
html {
    padding: 0%;
}